@font-face {
font-family: 'Post No Bills Colombo Regular';
font-style: normal;
font-weight: normal;
src: local('Post No Bills Colombo Regular'), url('PostNoBillsColombo-Regular.woff') format('woff');
}


@font-face {
font-family: 'Post No Bills Colombo Bold';
font-style: normal;
font-weight: normal;
src: local('Post No Bills Colombo Bold'), url('PostNoBillsColombo-Bold.woff') format('woff');
}


@font-face {
font-family: 'Post No Bills Colombo Light Regular';
font-style: normal;
font-weight: normal;
src: local('Post No Bills Colombo Light Regular'), url('PostNoBillsColombo-Light.woff') format('woff');
}


@font-face {
font-family: 'Post No Bills Colombo Medium Regular';
font-style: normal;
font-weight: normal;
src: local('Post No Bills Colombo Medium Regular'), url('PostNoBillsColombo-Medium.woff') format('woff');
}


@font-face {
font-family: 'Post No Bills Colombo SemiBold Regular';
font-style: normal;
font-weight: normal;
src: local('Post No Bills Colombo SemiBold Regular'), url('PostNoBillsColombo-SemiBold.woff') format('woff');
}


@font-face {
font-family: 'Post No Bills Colombo ExtraBold Regular';
font-style: normal;
font-weight: normal;
src: local('Post No Bills Colombo ExtraBold Regular'), url('PostNoBillsColombo-ExtraBold.woff') format('woff');
}
body {
    font-family: "Post No Bills Colombo Regular";
    font-size: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}
.input-container {
    display: flex;
    flex-direction: column;
}
.input {
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: right;
    width: 100%;
    padding: 0 0.5rem;
    box-shadow: 0 0 5px lightgrey;
}

.input:hover , .input:focus , .input:active {
    border-bottom: 2px solid;
    background-color: #E9746E;
    outline: none;
    color: white;
}

.input-label {
    position: relative;
    top: -2.3rem;
    left: 1rem;
    font-size: 1rem;
}

.input:hover ~ .input-label, .input:focus ~ .input-label, .input:active ~ .input-label, .input:not(:placeholder-shown) ~ .input-label {
    top: -2.6rem;
}

.input-error {
    font-size: 10px;
    margin-top: -10px;
    color: #f31a1a;
}

.button {
    text-decoration: none;
    padding: 10px;
    font-weight: 60 0;
    font-size: 20px;
    color: #ffd9d9;
    background-color: #f08774;
    border-radius: 6px;
    border: 2px solid #db5840;
    cursor: pointer;
    
}
.button:hover {
    background: #f31a1a;
}

.clear-float {
    clear: both;
    margin-top: 1rem;
}

.icon-badge {
    -webkit-mask: url(/images/badge.svg);
    mask: url(/images/badge.svg);
    display: inline-block;
    height: 15rem;
    vertical-align: -0.125rem;
    width: 11rem;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    background-color: #E9746E;
    cursor: pointer;
}

.button-gestor {
    background: #F4C864;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1.3rem;
    font-family: 'Post No Bills Colombo Bold';
    border: none;
    cursor:pointer;
}

.button-talentoso {
    background: #8ED0E9;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 5px;
    padding: 15px 30px;
    font-size: 1.3rem;
    font-family: 'Post No Bills Colombo Bold';
    border: none;

    cursor:pointer;
}

.button-logout {
    background: #e7afac;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 5px;
    padding: 15px 30px;
    left: 0px;
    font-size: 1.3rem;
    font-family: 'Post No Bills Colombo Bold';
    border: none;
    float: right;
    margin-right: 12%;
    cursor: pointer;
}

.logout-container {
    position: absolute;
    right: 0;
}

.textarea{
    height: 10.4em; 
}

.form-group {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.form-group > .input-container {
    width: 48%;
}