.input-container {

    right: 0;
    margin-top:50px;
    width: 400px;
    height:auto;
    margin-right:10px;
    position:absolute ;
  /*   border: #db5840;
    border: 2px solid #db5840;
    padding: 50px 40px 50px 40px;
    border-radius: 40px; */
    
}
/* .group1{
    position:relative;

}
.group{
    position:relative   ;
} */

.input {
    display: flex;
    width: 300px;
    height: 40px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0.5px solid lightgray;
    border-radius: 4px 4px 0 0;
    text-align: left;
    padding: 0 0.5rem;
    margin:5px ;
    
}

.input:hover , .input:focus , .input:active {
    border-bottom: 2px solid;
    background-color: #f0e091;
    outline: none;
}



.input:hover ~ .input-label, .input:focus ~ .input-label, .input:active ~ .input-label, .input:not(:placeholder-shown) ~ .input-label {
    top: -2.2rem;
}

.input-error {
    font-size: 10px;
    margin-top: -10px;
    color: #f31a1a;
}
.input-label{
    width: 400px;
    font-size: 2em;
    margin: 5px;
    
    
}


.button {
    text-decoration: none;
    padding: 10px;
    font-weight: 60 0;
    font-size: 20px;
    color: #ffd9d9;
    background-color: #f08774;
    border-radius: 6px;
    border: 2px solid #db5840;
    cursor: pointer;
    margin-left: 90px;
    margin-top: 50px;
    
}
.button:hover {
    background: #f31a1a;
}

.foot-lnk{
    margin-left: 90px;
    margin-top: 50px;
    text-decoration: none;
    
}
a:hover{
    color: #7397fa;
    font-weight: 200;
}
a{
    text-decoration: none;
    color: black    ;
}

.img1{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin-left: 200px;
    width:600px;
    height: auto;

}