body {
    overflow: hidden;
}

.login-logo {
    width: 750px;
}

.logo-text {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 14rem;
    top: -10rem;
}


.logo-text > span:first-of-type {
    font-family: Post No Bills Colombo Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    color: #E60F0F;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.logo-text > span:last-of-type {
    font-size: 36px;
    font-family: Post No Bills Colombo Regular;
    position: relative;
    top: -3rem;
}

.home-gestor, .home-talentoso {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 450px;
    z-index: 1;
}

.home-gestor > span, .home-talentoso > span {
    font-family: Post No Bills Colombo Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: #000000;
}

.home-register {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}



.register-title {
    font-family: Post No Bills Colombo Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 72px;
    line-height: 108px;
    min-width: 570px;
    text-align: center;
    /* identical to box height */


    color: #E50F0F;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.register-button {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.register-button > input:hover {
    cursor: pointer;
}

.register-fail {
    background-color: #f5a8a8;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    border-radius: 5px;
    display: none;
    font-size: 1rem;
    text-align: center;
}

.register-success {
    background-color: lightgreen;
    padding: 10px;
    margin-bottom: 10px;
    color: green;
    border-radius: 5px;
    display: none;
    font-size: 1rem;
    text-align: center;
}

