body {
    font-family: Post No Bills Colombo Regular;
}

.login-container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100vh;
}

.login-logo {
    width: 750px;
    margin-top: 10rem;
}

.logo-text {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 14rem;
    top: -10rem;
}

.logo-text > span:first-of-type {
    font-family: Post No Bills Colombo Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    color: #E60F0F;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.logo-text > span:last-of-type {
    font-size: 36px;
    font-family: Post No Bills Colombo Regular;
    position: relative;
    top: -3rem;

}

.login-register {
    position: absolute;
    right: 18%;
    font-size: 2rem;
    margin-top: 1rem;
    font-size: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-register > span {
    position: relative;
    top: 2rem;
}


.form-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container > form {
    width: 450px;
}

.login-button {
    float: right;
    margin-right: -17px;
    margin-bottom: 1rem;
}

.login-fail {
    background-color: #f5a8a8;
    padding: 10px;
    margin-bottom: 10px;
    color: white;
    border-radius: 5px;
    display: none;
    font-size: 1rem;
    text-align: center;
}

.login-success {
    background-color: lightgreen;
    padding: 10px;
    margin-bottom: 10px;
    color: green;
    border-radius: 5px;
    display: none;
    font-size: 1rem;
    text-align: center;
}
