<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="/evidence/evidence.css">
    <link rel="stylesheet" href="/project/project.css">
    <link rel="stylesheet" href="/view/view.css">
    <title>CREHACE</title>
</head>
<body>
    <div class="home-container">
        <div class="profile-bar">
            <div class="view-title" id="profile-title">

            </div>
            <div class="profile-image" id="profile-image">

            </div>
            <div class="profile-name" id="profile-name">

            </div>
            <hr>
            <div class="profile-email" id="profile-email">

            </div>
            <div class="profile-phone" id="profile-phone">

            </div>
            <div class="profile-company" id="profile-company">

            </div>
            <div class="profile-tags" id="profile-tags">

            </div>
            <div class="profile-description" id="profile-description">

            </div>
            <div class="mailer" id="mailer">
                <span>Contacta al talentoso</span>
                <form id="mailer-form">
                    <div class="input-container">
                        <textarea class="textarea" type="text" name="mensaje" id="mensaje" placeholder=""></textarea>
                        <label class="input-label" for="mensaje"></label>
                    </div>
                    <div class="clear-float">
                        <div class="login-success">
                            Mensaje Enviado!
                        </div>
                        <div class="login-fail" >
                            Mensaje no Enviado!
                        </div>
                    </div>
                    <div class="register-button">
                        <input type="submit" class="button-talentoso" value="Enviar" >
                    </div>
                </form>
            </div>
            <img class="mailer-icon" id="mailer-icon" src="/images/envelope.png">
        </div>
        <div class="publishes">
            <div class="recommendations">
                Evidencias del talentoso
                <hr>     
            </div>
            <div class="project-container" id="project-container">
                
            </div>
            <div class="image-container-view">
                <img class="login-logo" src="../../images/logo.jpg" alt="crehace">
                <div class="logo-text">
                    <span>CREHACE</span>
                    <span>Creemos juntos desde lo que sabes hacer</span>
                </div>
    
            </div>
        </div>
        
    </div>
    <script type="module" src="/view/view.mjs"></script>
</body>
</html>